.App {
  box-sizing: border-box;
}
.profileButton {
  vertical-align: middle;
  color: red;
  height: 40;
  margin: 16;
  background: rgba(255, 255, 255, 0.9);
}

.selectRegion {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100px;
  background-color: red;
}

#menu {
  font-size: 20px;
  list-style: none;
}

li {
  margin-bottom: 15px;
}
